
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    /* For IE and Edge */
    -ms-overflow-style: none;
    background-color: blue;
    /* For Firefox */
    scrollbar-width: none;
}